@import '../../../../styles/components/all';

.searchForm {
	position: relative;
	width: 100%;
	height: 50px;

	background-color: $colorGray;
	border-radius: 15px;
}

.input {
	position: absolute;
	width: 100%;
	height: 50px;
	left: 52px;

	font-size: 20px;
	font-weight: 400;

	background-color: $colorGray;
	border: none;


	&::placeholder {
		color: $colorBlack;
		opacity: 1;
	}

	&::-ms-input-placeholder {
		color: $colorBlack;
	}

	&:-ms-input-placeholder {
		color: $colorBlack;
	}
}

.icon {
	position: absolute;
	width: 20px;
	height: 20px;

	top: 15px;
	left: 16px;
}