@import '../../styles/components/all';

.loginForm {
	display: flex;
}

.welcome {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.23;
	color: $colorPink;

	text-align: center;
	padding-bottom: 30px;
}