@import '../components/colors';

@mixin h2-title {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.23;
	color: $colorBlack;
}

@mixin input-colorWhite {
	color: rgba($color: #FFF, $alpha: 0.4);
}