@import '../components/colors';

@mixin h2-title {
	font-size: 48px;
	font-weight: 600;
	line-height: 1.23;
	color: $colorBlack;
}

@mixin input-colorWhite {
	color: rgba($color: #FFF, $alpha: 0.4);
}

@mixin input-params {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.2;

	border: none;
	border-radius: 20px;
	background: transparent;

	transition: all .2 linear;
}

@mixin popup-text {
	padding-bottom: 30px;
	text-align: center;

	font-size: 36px;
	font-weight: 600;
	line-height: 1.23;
	color: $colorPink;
}