@import '../../../../styles/components/all';

.section {
	padding-top: 50px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	color: $colorBlack;
}

.title {
	@include h2-title;

	margin-bottom: 32px;
}