@import '../../../styles/components/all';


.myBtn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;

	font-size: 18px;
	line-height: 1.2;

	border: none;
	border-radius: 16px;

	cursor: pointer;
	transition: opacity .2s linear;

	&.pink {
		font-weight: 500;
		color: $colorWhite;
		background-color: $colorPink;
	}

	&.white {
		font-weight: 700;
		color: $colorBlack;
		background-color: $colorWhite;
	}

	&.small {
		width: 138px;
		height: 65px;
	}

	&.medium {
		width: 174px;
		height: 65px;
	}

	&.large {
		width: 256px;
		height: 65px;
	}

	&:hover {
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
	}
}