@import '../../../styles/components/all';


.myInput {
	display: inline-block;
	height: 65px;
	padding: 0 16px;

	@include input-params;

	&:focus,
	&:hover {
		box-shadow: 0 0 5px 2px $colorDarkGray;
	}

	&.small {
		width: 216px;
		height: 43px;
	}

	&.medium {
		width: 318px;
	}

	&.large {
		width: 386px;
		margin-bottom: 16px;
	}

	&.extraLarge {
		width: 618px;
		margin-bottom: 12px;
	}

	&.white {
		border: 3px solid $colorBlack;
		color: $colorBlack;

		&::placeholder {
			color: $colorBlack;
			opacity: 1;
		}

		&::-ms-input-placeholder {
			color: $colorBlack;
		}

		&:-ms-input-placeholder {
			color: $colorBlack;
		}
	}

	&.black {
		@include input-colorWhite;
		border: 3px solid $colorWhite;

		&::placeholder {
			@include input-colorWhite;
			opacity: 1;
		}

		&::-ms-input-placeholder {
			@include input-colorWhite;
		}

		&:-ms-input-placeholder {
			@include input-colorWhite;
		}
	}
}