@import '../../../../styles/components/all';

.content {
	display: flex;
	padding-bottom: 40px;
}

.introItem {
	width: 50%;
}

.title {
	@include h2-title;

	margin-bottom: 89px;
}

.text {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

.image {
	width: 350px;
	height: 343px;
}