@import '../../styles/components/all';

.title {
	@include h2-title;

	margin-bottom: 60px;
}

.block {
	display: flex;
	justify-content: space-between;
}

.image {
	display: block;
	width: 387px;
	height: 390px;
	margin-right: 33px;

	object-fit: cover;
}

.text {
	padding-top: 24px;

	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;

	p {
		margin-bottom: 20px;
	}
}