@import '../../../styles/components/all';

.btnBack {
	display: block;
	position: relative;
	width: 70px;
	height: 21px;

	border: none;
	background-color: transparent;
	color: $colorBlack;

	cursor: pointer;
	transition: all .2 linear;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
	}
}

.logo {
	position: absolute;
	top: 2px;
	right: 62px;
	width: 8px;
	height: 16px;
}

.text {
	position: absolute;
	bottom: -1px;
	right: -10px;

	font-size: 22px;
	font-weight: 300;
	line-height: 1.2;
}