@import '../../../../styles/components/all';

.title {
	@include h2-title;

	padding-bottom: 37px;
}

.titleError {
	@include h2-title;

	padding-bottom: 12px;
}

.login {
	width: 50%;
}

.options {
	display: flex;
	padding-bottom: 46px;
}

.item {
	margin-right: 65px;

	&:last-child {
		margin-right: 0;
	}
}

.checkbox {
	display: inline-block;
	margin-left: 8px;

	transform: scale(2);
}

.text {
	display: inline-block;
	padding-left: 16px;

	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
}

.link {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	text-decoration: underline;
	color: $colorBlack;

	transition: all .2s linear;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
	}
}

.error {
	padding-bottom: 8px;

	font-size: 14px;
	font-weight: 500;
	color: $colorPink;
}