@import '../../../../styles/components/all';

.title {
	@include h2-title;

	padding-bottom: 36px;
}

.titleError {
	@include h2-title;

	padding-bottom: 12px;
}

.registration {
	width: 50%;
}

.text {
	padding-bottom: 12px;

	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
}

.error {
	padding-bottom: 8px;

	font-size: 14px;
	font-weight: 500;
	color: $colorPink;
}