@import '../../../../styles/components/all';

.product {
	position: relative;
	width: 33%;
	max-width: 264px;
	height: 392px;
	margin-bottom: 26px;
}

.image {
	display: block;
	width: 264px;
	height: 264px;

	object-fit: cover;
	border-radius: 16px;

	cursor: pointer;
}


.title {
	margin: 20px 0 0;

	font-size: 22px;
	font-weight: 400;
	line-height: 1.2;
}

.options {
	position: absolute;
	top: 348px;

	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
}