@import '../../../../styles/components/all';

.title {
	@include h2-title;

	margin-bottom: 22px;
}

.text {
	padding-bottom: 66px;

	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

.info {
	display: flex;
}

.phoneBlock {
	width: 386px;
}

.phoneItem {
	padding-bottom: 36px;
}

.phoneLink {
	display: block;
	padding-bottom: 12px;

	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	color: $colorBlack;
	text-decoration: none;

	transition: all .2s linear;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
	}
}

.phoneText {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}